{{define "title"}}CF Routing Suite{{end}}

{{define "body"}}
    <h1>{{ template "title"}}</h1>

    <h2>This is a tool set for testing and experimenting with the Cloud Foundry routing tier.</h2>

    <table>
        <tr><th>Link</th><th>Description</th></tr>
        <tr><td><a href="/api/probe">/api/probe</a></td><td>basic probe</td></tr>
        <tr><td><a href="/api/probe?wait=500ms">/api/probe?wait=500ms</a></td><td>probe, wait 500ms</td></tr>
        <tr><td><a href="/api/probe?tag=123">/api/probe?tag=123</a></td><td>probe, tag 123</td></tr>
        <tr><td><a href="/api/probe?tag=456&wait=2s">/api/probe?tag=456&wait=2s</a></td><td>probe, tag 456, wait 2s</td></tr>
        <tr><td><a href="/api/reset">/reset</a></td><td>reset data</td></tr>
        <tr><td><form action="/api/probe?tag=form" method="post">
                    probe post data:<br>
                    <textarea name="data" rows="10" cols="30">Im Walde rauscht ein Wasserfall. Wenn's nicht mehr rauscht ist's Wasser all.</textarea>
                    <br>
                    <br><br>
                    <input type="submit" value="Submit">
                </form></td><td>post probe</td></tr>
    </table>
{{end}}